.accordion {
  overflow: hidden;
  transition: all 0.3s ease;

  &-header {
    padding: 0;
    cursor: pointer;
    border: none;
    width: 100%;
    position: relative;

    > * {
      padding-right: 20px;
    }
  }

  &-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;

    .icon-close {
      display: none;
    }

    .icon-plus {
      display: block;
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &-body {
    padding: 0;
  }

  &.open {
    .accordion-toggle {
      .icon-close {
        display: block;
      }

      .icon-plus {
        display: none;
      }
    }

    .accordion-content {
      max-height: 300px;
    }
  }
}
