:root {
    --fontFamily: "Inter", sans-serif;
    --fontFamilyTitle: "DM Serif Display Regular", serif;
    --fontFamilyDMDisplay: "DM Serif Display Italic", serif;

    --containerSize: 1160px;

    --colormain: #e70437;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --textColor: #171725;
    --blogColor: #EA2E00;
    --borderColor: #d4d4d4;
    --hrefColor: #002aae;
}