.story-dots {
  position: absolute;
  bottom: 0px;
  padding: 50px 10px 12px 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 1%,
    #151515 99%
  );

  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 0 3px;

  i {
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    flex-grow: 1;
    max-width: 12px;
    opacity: 0.9;

    &.active {
      opacity: 1;
    }
  }
}