.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid rgba(23, 23, 37, 0.5);
  margin-bottom: 13px;
}

.select {
  flex: 1;
  width: 200px;
  height: 40px;
  border: 0.5px solid rgba(23, 23, 37, 0.3);
  background-color: rgba(255, 255, 255, 1);
  appearance: none;
  color: rgba(23, 23, 37, 1);
  @include font-size(14);
  font-weight: 600;
  padding: 0 20px 0 10px;
  background-image: url(/assets/images/select_arrow.svg);
  background-repeat: no-repeat;
  background-position: 90%;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.load-more {
  width: 100%;
  text-align: center;
}
