.default {
  display: flex;
  gap: 7px;
  align-items: center;
  background: var(--network-menu-bg);
  border-radius: 100px;
  height: 30px;
  padding: 0 14px 0 10px;

  svg {
    flex: 0 0 16px;
    height: 16px;
    width: 16px;
  }
}
