.author {
  p {
    display: flex;
    align-items: center;
  }
  a {
    margin-left: 5px;
  }
  p,
  a {
    color: rgba(41, 41, 41, 1);
    vertical-align: middle;
    font-style: normal;
  }

  &-separator {
    margin: 0 6px;
    line-height: normal;
    border-right: 1px solid rgba(41, 41, 41, 1);
    height: 12px;
  }
}
