.Premium {
  &Tag {
    width: 100%;
    display: block;
    background-image: url(/assets/icons/svg/PremiumIcon.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    margin-bottom: 5px;
    line-height: 22px;
    background-size: 24px;

    span {
      padding-left: 27px;
      background: linear-gradient(90deg, #ff5f00 0%, #ffa500 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      padding-right: 4px;
    }
  }

  &Top {
    width: 100%;
    text-align: left;

    > span {
      font-weight: 400;
      display: block;
      padding: 6px 0;
    }
  }
}
