.figure {
  display: flex;
  gap: 0 15px;
  align-items: center;
  width: 100%;
}

.figcaption {
  flex: 1;
  margin: 0;
}

.row-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .figure {
    flex-direction: row-reverse;
  }

  .row-reverse {
    flex-direction: row;
  }
}

.link-wrap {
  width: 100%;
}

.link-para-wrap {
  display: inline-flex;
}