.default {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;

  margin: 0;
  padding: 25px 20px;
  width: 100%;
  max-width: 100%;
  min-height: 410px;
  border-radius: 0 0 7px 7px;
  
  background-color: var(--whiteColor);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  border-top: 2px solid #000;
  
  overflow: hidden;
  display: none;
}